body{
    box-sizing: border-box;
    position: fixed;

background-image: url('Sword-Art-Online-Kirito-Dual-Wields-4.jpg')
}
body .background{


}

#conan{
  padding: 30px 20px ;
    border

}
.nav{
  float: right;
  word-spacing: 50px;



}
.nav ul{
    letter-spacing: 1px;
    color: white;
    font-size: 45px;
 }/*header ends*/

.intro{
  background-color: azure;
  opacity: .3;
  border-radius: 80%;
}

.intro h2{
  font-weight: bold;
  font-size: 50px;
}

  .intro p {
    font-family: sans-serif;
    font-size: 30px;
    color: black;
    text-align:left;

  }
  /*paragraph 1 ends*/
